---
import { Image } from "astro:assets";
import type { ProjectEntry } from "@/types";

interface Props {
  entry: ProjectEntry;
}

const { entry } = Astro.props;
const { title, imageCover, imageCoverAlt, resume } = entry.data || {};

---

<div class="h-full m-2 pl-0 bg-gradient-to-br gradient rounded-lg intersect:animate-fadeUp" >
  <div class="glass h-full rounded-lg">
    <a class="group hover:opacity-100" href={`/projects/${entry.id}`}>
      <div class="relative rounded-lg pb-9/16 overflow-hidden">
        {
          imageCover && (
            <Image
              class="absolute rounded-lg object-cover w-full h-full group-hover:scale-[105%] transition-all duration-300"
              src={imageCover}
              alt={imageCoverAlt}
              width={1280}
              height={720}
              loading="eager"
            />
          )
        }
        <div class="glass-d absolute w-[80%] text-center rounded-lg px-2 py-1 top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]" >
          <h3 class="text-h3-sm text-text-base dark:text-dark-text-base font-bold">
            {title}
          </h3>
          <span class="hidden font-mono text-sm text-justify w-full md:line-clamp-3">{resume}</span>
        </div>
      </div>
    </a>
  </div>
</div>
