---
import BaseLayout from "@components/base/BaseLayout.astro";
import RecipeCard from "@components/projects/Card.astro";
import Pagination from "@components/common/Pagination.astro";
import PageHeader from "@components/common/PageHeader.astro";
import type { ProjectEntry } from "@/types";

interface Props {
  entryIndex: ProjectEntry;
  entries: ProjectEntry[];
  pageIndex: number;
  pageCount: number;
}

const { entryIndex, entries, pageIndex, pageCount }: Props = Astro.props;
---

<BaseLayout title={entryIndex.data.title} >
  <PageHeader title={entryIndex.data.title} />
  <section class="section m-2">
    <div class="container">
      <div class="row">
        {
          entries.map((entry) => (
            <div class="md:col-6 lg:col-4 h-min p-2">
              <RecipeCard entry={entry} />
            </div>
          ))
        }
      </div>
      <Pagination
        collection="projects"
        pageIndex={pageIndex}
        pageCount={pageCount}
      />
    </div>
  </section>
</BaseLayout>
