---
import type { ProjectEntry } from "@/types";
import { Image } from "astro:assets";
import BaseLayout from "@components/base/BaseLayout.astro";
import { formatDate } from "@lib/formatDate";
import ProjectInfo from "./ProjectInfo.astro";
import PageHeader from "@components/common/PageHeader.astro";
import TechTable from "@components/common/TechTable.astro";
import ProjectSection from "./ProjectSection.astro";

interface Props {
  entry: ProjectEntry;
}

const { entry } = Astro.props;
const { title, resume, date, imageCover, imageCoverAlt, categories, author, stack, description, content, github, link, platform, diagrama, gallery} = entry.data;
const entryDate = date ? formatDate(date) : "";

---

<BaseLayout title={title}>
  <PageHeader title={title} />
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10 flex flex-wrap content-start">
          <!-- Cover Photo -->
          {
            imageCover && (
              <div class="col basis-2/3 p-2 min-w-72">
                <div class="glass rounded-lg intersect:animate-fadeDown">
                  <Image
                    class="w-full rounded-lg"
                    src={imageCover}
                    alt={imageCoverAlt}
                    width={1920}
                    height={1080}
                    loading="eager"
                  />
                </div>
              </div>
            )
          }
          <!-- About Project-->
          <ProjectInfo
            author={author}
            entryDate={entryDate}
            categories={categories}
            github={github}
            link={link}
            resume={resume}
            platform={platform}
          />
          <!-- Descripcion -->
          {
            description && (
              <ProjectSection
                titleSection="Acerca del proyecto"
                resumeSection={description}
              />
            )
          }
          <!-- Diagrama -->
          {
            diagrama && (
              <ProjectSection 
                titleSection="Arquitectura Propuesta"
                resumeSection={diagrama.resume}
                imgSection={diagrama.image}
                imgAltSection={diagrama.imageAlt}
                diagramaComponent={diagrama.diagramaComponent}
              />
            )
          }
          <!-- Contenido -->
          {
            content && (
              <ProjectSection 
                titleSection="Contenido del proyecto"
                resumeSection={
                  content.description ? content.description : "Lista de los diferentes modulos y contenidos que encontraras en este proyecto."
                }
                itemSection={content.item}
              />
            )
          }
          <!-- Tecnologias -->
          {
            stack && (
              <section class="col basis-1/3 p-2 min-w-72">
                <div class="glass rounded-lg p-4 intersect:animate-fadeUp  ">
                  <h2 class="mb-2">Técnologias utilizadas</h2>
                  <hr class="my-1" />
                  <TechTable techs={stack} />
                  <hr class="my-1" />
                </div>
              </section>
            )
          }
          <!-- Gallery -->
          {
          gallery && (
            <ProjectSection 
              titleSection="Galeria de Imagenes"
              resumeSection="Imagenes de las pantallas del sistema."
              gallery={gallery}
            />
          )
          }
          
        </article>
      </div>
    </div>
  </section>
</BaseLayout>
