---
import { getIndex, getEntries } from "@lib/contentParser";
import { sortByDate } from "@lib/sortFunctions";
import BaseLayout from "@components/base/BaseLayout.astro";
import type { HomeEntry, AboutEntry, SkillEntry, ProjectEntry } from "@/types";

//Componentes
import EntryLayout from "@components/home/EntryLayout.astro";
import TechTable from "@components/common/TechTable.astro";
import RecipeCard from "@components/projects/Card.astro";
import AboutEntryLayout from "@components/about/AboutEntryLayout.astro";
import HeroSection from "@components/common/HeroSection.astro";

//Datos
const entryHome = (await getIndex("home")) as HomeEntry;
const { data: aboutData } = (await getIndex("about")) as AboutEntry;

const { data: skillsData } = (await getIndex("skill")) as SkillEntry;
const { title: titleSkills, description: descriptionSkills, techs } = skillsData;

const { data: projectData } = (await getIndex("projects")) as ProjectEntry; // Index Home for projects
const { title: titleProject, description: descriptionProject } = projectData;

const allProjects = (await getEntries(
  "projects",
  sortByDate,
)) as ProjectEntry[]; // All project entries
const recentProjects = allProjects.slice(0, 3); //Ultimos 3 proyectos
---

<BaseLayout title="Home | Portafolio Rodrigo Funes">
  <!-- Secci贸n Home -->
  <EntryLayout entry={entryHome} />

  <!-- Secci贸n About -->
  <AboutEntryLayout entry={ { data: aboutData } } />

  <!-- Secci贸n Skills -->
  <HeroSection
    title={titleSkills}
    description={descriptionSkills}
    titleAlign="left"
    idSection="skills"
  >
    <TechTable techs={techs} />
  </HeroSection>

  <!-- Secci贸n Projects -->
  <HeroSection
    title={titleProject}
    description={descriptionProject}
    titleAlign="right"
    idSection="projects"
  >
    <div class="row">
      {
        recentProjects.map((project) => (
          <div class="col-12 sm:col-6 md:col-4 h-min p-2">
            <RecipeCard entry={project} />
          </div>
        ))
      }
    </div>
    <a href="/projects" class="btn-more">Ver mas proyectos...</a>
  </HeroSection>
</BaseLayout>