---
import { getEntry } from "astro:content";
import BaseLayout from "@components/base/BaseLayout.astro";
import TechGraph from "@components/skill/TechGraph";
import TechTable from "@components/skill/TechTable.astro";

const entry = await getEntry("skill", "-index");
const techs = entry.data.techs;
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
  <section class="section">
    <div class="glass container rounded-lg intersect:animate-fadeDown opacity-0">
      <p>
        Algunas de las tecnologías que he utilizado en mis proyectos y que me apasionan.
        <br />
      </p>
      <TechGraph client:load techs={techs}/>
      <TechTable 
      title={entry?.data?.title} 
      description={entry?.data?.description} 
      techs={techs} />
    </div>
  </section>
</BaseLayout>
