---
import Analytics from '@vercel/analytics/astro';

import { plainify } from "@lib/textConverter";
import Footer from "@components/base/Footer.astro";
import Header from "@components/base/Header.astro";
import "@/styles/main.css";
import { ClientRouter } from "astro:transitions";
import Background from "@/components/base/Background.astro";
import { Tooltips } from "astro-tooltips";
import ObserverScript from "./ObserverScript.astro";
import PageHeader from "@components/base/PageHeader.astro";

export interface Props {
  title?: string;
  description?: string | null;
}

const { pathname } = Astro.url;

const { title, description } = Astro.props;

const siteTitle = "Portafolio | Rodrigo Fúnes";
const siteDescription = "Desarrollador web enfocado en crear soluciones de valor.";
const siteImage = "@/assets/og-image.png";
const siteAuthor = "Rodrigo Fúnes";
const baseUrl = "https://portafolio-refe.vercel.app/";
---

<!doctype html>
<html lang="en">
<!-- 
  <html lang={Astro.site?.lang ?? "en"}>
  Para i18n
-->
  <head>
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="theme-name" content="pages" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#fff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000"
    />
    {/*<meta name="generator" content={Astro.generator} />*/}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
    <title> {plainify(title ? title : siteTitle)} </title>
    <meta name="description" content={plainify(description ? description : siteDescription)} />
    <meta name="author" content={siteAuthor} />

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content={plainify(title ? title : siteTitle)} />
    <meta property="og:description" content={plainify(description ? description : siteDescription)} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`${baseUrl}/${Astro.url.pathname}`} />
    <meta property="og:image" content={siteImage} />

    <meta name="twitter:title" content={plainify(title ? title : siteTitle)} />
    <meta name="twitter:description" content={plainify(description ? description : siteDescription)} />
    <meta name="twitter:image" content={siteImage} />
    <meta name="twitter:card" content="summary_large_image" />
    
    <ClientRouter fallback="swap" />
    <Tooltips interactive={false} delay={[333, 0]} />
  </head>
  <body>
    <Background />
    {pathname === "/" ? <Header /> : <PageHeader />}
    <main id="main-content" class="flex-1">
      <slot />
    </main>
    <Footer />
    <ObserverScript />
    <Analytics />
  </body>
</html>
